body {
    background-color: #fff;
    color: #666;
    font-size: 12px;
    font-family: 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei';
}

.form-control:focus {
    border-color: #1898eb;
}

.has-error .form-control-feedback {
    color: #dd4b39;
}

.has-success .form-control-feedback {
    color: #00a65a;
}

label {
    font-weight: normal;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #dd4b39;
}

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
    color: #00a65a;
}

.dropdown-menu > li > a:hover {
    background: #1898eb;
    color: #fff;
}

.mt7 {
    margin-top: 7px;
}

.ml10 {
    margin-left: 10px;
}

.sidebar-toggle {
    font-size: 14px;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #1898eb;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body a:active {
    color: #fff !important;
}


.sidebar-menu .treeview-menu > li > a {
    font-size: 12px;
}

.sidebar-menu > li > a {
    font-weight: normal !important;
}

.sidebar-menu > li.active > a {
    font-weight: normal !important;
}

.sidebar-menu li.header {
    padding: 20px 25px 10px 15px;
}