select {
    border: 1px solid #dddddd;
    border-right: 0 !important;
    height: 30px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: url("../images/btn_droplist_normal.png") no-repeat right #ffffff !important;
}

select:focus {
    border: 1px solid #1898eb !important;
    border-right: 0 !important;
    background: url("../images/btn_droplist_active.png") no-repeat right #ffffff !important;
}

select:disabled {
    background: url("../images/btn_droplist_disabled.png") no-repeat right #f2f2f2 !important;
    color: #bbbbbb !important;
}