.navbar-brand {
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

nav {
  height: 50px;
}

.navbar-toggler {
  font-size: 1rem;
}

.sidebar {
  background-color: #f9fafc;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 50px;
  z-index: 810;
  width: 180px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  border: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li a {
  color: #000;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  position: relative;
  cursor: pointer;
  padding: 12px 5px 12px 15px;
  display: block;
  border-left: 3px solid transparent;
}

.sidebar ul li:hover a {
  color: #0275d8;
  background: #ecf0f5;
  border-left: 3px solid #0275d8;
}

.sidebar ul li a i {
  margin-right: 12px;
  width: 17px;
  height: 17px;
}

.sidebar ul li.header {
  color: #848484;
  background: #f9fafc;
  padding: 20px 25px 10px 15px;
  position: relative;
  margin: 0;
}

.sidebar ul li.active a {
  color: #fff;
  background: #0275d8;
}

.show-up {
  display: none;
}

@media (max-width: 47.9em) {
  .show-up {
    display: block;
  }
  .sidebar {
    width: 100%;
    display: none;
  }
}

@media (min-width: 47.9em) {
  .sidebar {
    display: block !important;
  }
}
